html,body {
    width:100%;
    height:100%;
}
body {
    background: #fafafa;
    font-family: Roboto;
    color: rgba(0, 0, 0, 0.87);
}
img {
    width: 100%;
    height: auto;
    max-height: 100%;
}
.hide {
    opacity: 0 !important;
}
.btn {
    display: inline-block;
    padding: 18px 40px;
    max-width: 400px;
    background: #2a4e92;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

}
.btn:hover {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
}

header {
    padding: 16px;
    background: #2a4e92;
    color: white;
}
header.alt {
    background: #f42828;
}
header h1 {
    margin: 0;
    font-weight: normal;
}
header.printlayout {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: padding 0.3s ease;
}
header.printlayout img {
    width: 40px;
    height: 40px;
    padding: 8px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    margin-right: 8px;
}
header.printlayout a {
    display: inline-block;
    vertical-align: middle;
    color: white;
    text-decoration: none;
}
header.printlayout h1 {
    font-size: 1.6em;
    transition: font-size 0.3s ease;
}
header.printlayout.small {
    padding: 8px;
}
header.printlayout.small h1 {
    font-size: 1.3em;
}

/**** Home page ***/
.homeContainer {
    margin: 24px;
    position: relative;
    box-sizing: content-box;
}

.homeContainer .card {
    background-color: #ffffff;
    padding: 16px;
    border-radius: 2px;
    max-width: 750px;
    margin: 0 auto;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.homeContainer h2 {
    text-align: center;
    font-size: 2em;
    margin: 16px 0px 12px;
    line-height: 1;
    font-weight: 100;
}

.homeContainer #print h1 {
    margin-bottom: 40px;
}

.homeContainer h3 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.52);
    font-weight: 400;
}

.homeContainer #print,
.homeContainer #create {
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    width: 65vw;
    opacity: 1;
    z-index: 1;
    transform: translate3d(-50%,-50%,0) scale(1);
    transition: all 0.4s ease;
}

.homeContainer #print.unfocus,
.homeContainer #create.unfocus {
    opacity: 0.65;
    transform: translate3d(-50%,70%,0) scale(0.7);
    z-index: 0;
}

.homeContainer #print.unfocus:hover,
.homeContainer #create.unfocus:hover {
    opacity: 0.9;
}

.homeContainer #print label {
    position: relative;
    display: block;
    text-align: center;
    color: #808080;
}

.homeContainer input[type="text"] {
    padding: 4px 10px;
    background: transparent;
    border-color: #9c9c9c;
    border-style: solid;
    border-width: 0 0 2px 0;
    text-align: center;
    font-size: 1.4em;
    display: block;
    margin: 0 auto;
    font-family: Roboto !important;
    font-weight: 100 !important;
    transition: all 0.3s ease;
}

.homeContainer #print input[type="text"] {
    padding-left: 40px;
}

.homeContainer input[type="text"]:focus {
    outline: none;
    border-color: #2a4e92;
}

.homeContainer option span {
    font-size: 1em;
    margin: 0 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.homeContainer input.btn {
    margin: 40px auto 0;
    display: block;
}

.homeContainer #print .btn {
    background: #f42828;
}

.homeContainer .card.unfocus input {
    pointer-events: none;
}

.fileUpload {
    position: relative;
    overflow: hidden;
}

.fileUpload input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
}

/** Print Layout **/
.page-body {
    background: #ffffff;
    width: 8.5in;
    height: 11in;
    margin: auto;
    box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.04);
    margin-bottom: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header.printlayout + .page-body {
    margin-top: 112px;
}
.page-body.create {
    width: 8.5in;
    height: 11in;
}
.page-container {
    width: 8in;
    height: 10in;
    margin: auto;
    padding: 5px;
    box-sizing: border-box;
    transition: all 0.2s ease;
}
.page-body.create .page-container {
    width: 7.1in;
    height: 9.9in;
}

body.cropmarks .page-container {
    border: 3px dashed #d4d4d4;
}

body.printlayout.borderinset .page-container {
    margin: 0;
    width: 8.5in;
    height: 11in;
    box-sizing: border-box;
    border: none;
    position: relative;
    padding: 0;
}

body.printlayout.borderinset .page-container:after {
    content: '';
    position: absolute;
    top: 30px;
    left: 50%;
    border: 3px dashed #d4d4d4;
    width: 8in;
    height: 10in;
    transform: translateX(-50%);
}

.page-inner {
    width: 100%;
    height: 100%;
    text-align: center;
}

.page-container span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 100px;
    color: #a4a2a2;
    pointer-events: none;
    opacity: 1;
    transition: 0.3s ease;
    text-align: center;
}

.campaign-msg {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    font-size: 2em;
    opacity: 1;
    transition: 0.3s ease;
}

.page-body.map .page-container {
    height: 10.2in;
    width: 7.2in;
}

.menupanel {
    position: fixed;
    left: 0%;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    pointer-events: none;
}

.menupanel.open {
    pointer-events: all;
}

.menupanel .menucontainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 280px;
    background: white;
    padding: 20px;
    pointer-events: all;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.32);
    transform: translate3d(-100%,0,0);
    transition: all 0.3s ease;
}

.menupanel.open .menucontainer {
    transform: translate3d(0,0,0);
}

input#campaigntext {
    padding: 6px;
    margin-top: 10px;
    width: 100%;
    display: none;
}

#campaign:checked ~ input#campaigntext {
    display: block;
}

a.startover {
    display: block;
    padding: 10px 20px;
    text-align: center;
    margin: 20px;
    color: white;
    background: #2a4e92;
    border-radius: 2px;
    text-decoration: none;
    border: 1px solid #3496dd;
    transition: all 0.2s ease;
}

body.create a.startover {
    background: #ff8800;
    border: 1px solid #ca6f06;
}

a.startover:hover {
    background: #198ee1;
}

body.create a.startover:hover {
    background: #e27801;
}

.invalid {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: #2aa6ff;
    color: white;
    font-size: 1em;
    font-family: sans-serif;
    box-shadow: 0px 1px 12px 5px rgba(0, 0, 0, 0.17);
    transform: translateY(-150%);
    transition: all 0.3s ease;
}

.invalid.enter {
    transform: translateY(0);
}

.invalid span {
    padding: 10px;
    display: block;
    text-align: center;
}

.invalid span:last-child {
    border-top: 1px solid rgba(24, 141, 225, 0.71);
}

.nothingsumbitted {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.nothingsumbitted h2 {
    font-size: 4.5em;
}

.nothingsumbitted a {
    text-align: center;
    display: block;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: red;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 4px;
}

.nothingsumbitted ~ .menu {
    display: none;
}

/** end **/

@media print {
    body {
        margin: 0 !important;
        padding: 0 !important;
        background: white;
    }
    header {
        display: none;
    }
    .page-body {
        margin: 0px auto !important;
        box-shadow: none;
        background: white;
    }
    body.create .page-container {
        height: 9.4in !important;
    }
    .page-container > span {
        display: none;
    }
    .menupanel {
        display: none;
    }
    a.menu {
        opacity: 0;
        display: none;  
    }
    .campaign-msg {
        font-size: 2.4em;
        padding-top: 0;
        position: relative;
        top: -10px;
    }
}
